<h1>My Robots</h1>


<% @robots.each do |robot| %>
  <h3>Robot Name</h3>
  <p><%= robot.name %></p>
  <h3>Robot City and State</h3>
  <p><%= robot.city %>, <%= robot.state %></p>
  <h3>Robot Department</h3>
  <p><%= robot.dept %></p>
<% end %>
