<h1>Create Your Robot!</h1>
<form method="post" action="/robots">
  <p>Name:</p>
  <input type="text" name="robot[name]"/>
  <p>City:</p>
  <input type="text" name="robot[city]"/>
  <p>State:</p>
  <input type="text" name="robot[state]"/>
  <p>Department:</p>
  <input type="text" name="robot[dept]"/><br/><br/>
  <input type="submit" value="Create Robot!"/>
</form>
